<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>全选单选</title>
	<style type="text/css">
		body {
			background-color: #333;
		}
		.table {
			background-color: #fff;
			margin: 200px auto;
			text-align: center;
		}
		.table tr > td{
			border: solid 1px #ccc;
		}
	</style>
	<script type="text/javascript" src="../../../前端流行框架(原理及模拟)/Vue/vue.js"></script>
</head>
<body>
	<div id="app">
		<table class="table">
			<tr>
				<td>
					<input type="checkbox" @click="checkAll" >
				</td>
				<td>全选</td>
			</tr>
			<tr v-for="item in list">
				<td>
					<input type="checkbox" @click="checkProduct( item, list )" v-model="item.isCheck">
				</td>
				<td v-text="item.name"></td>
			</tr>
			<tr>
				<td colspan="2">
					<input type="button" value="点击弹出目前选中的个数" @click="showCheckNumber">
				</td>
			</tr>
		</table>
	</div>
<script type="text/javascript">
Array.prototype.ysf_forEach = function ( func ) {

	for ( var i = 0; i<this.length; i++ ) {

		func(this[i],i);

	}
}
Array.prototype.ysf_Push = function (  ) {

	for ( var i = 0; i < arguments.length; i++ ) {

		this[this.length] = arguments[i];

	}
	return this.length;
}
var vm = new Vue( {
	el: '#app',
	data: {
		checkall: false,
		list: [
			{ id: 1, name: 'ysf1', isCheck: false },
			{ id: 2, name: 'ysf2', isCheck: false },
			{ id: 3, name: 'ysf3', isCheck: false },
			{ id: 4, name: 'ysf4', isCheck: false },
			{ id: 5, name: 'ysf5', isCheck: false },
			{ id: 6, name: 'ysf6', isCheck: false },
			{ id: 7, name: 'ysf7', isCheck: false },
		]
	},
	methods: {
		checkAll: function () {
			this.list.ysf_forEach( function ( value, index ) {
				value.isCheck = !value.isCheck;
			} );
		},
		checkProduct: function ( item, list ) {
			this.checkall = list.every( function ( value, index ) {
				return value.isCheck == true;
			} )
		},
		showCheckNumber: function () {
			var checkArr = [];
			this.list.ysf_forEach( function ( value, index ) {
				if ( value.isCheck ) {
					checkArr.ysf_Push( value );
				}
			} );
			console.log(checkArr);
		},
	},
} )

</script>
</body>
</html>