<template>
  <div class="blockChain">
    <div class="header">
      <!-- particles.js container -->
      <div id="particles-js"></div>
      <!-- title -->
      <div class="header-title">
        <h3>建设司法界通用的区块链底层基础设施</h3>
        <p>打造统一、标准、可靠的的司法界数据存证平台</p>
      </div>
      <!-- detail -->
      <div class="detail-number clearfix">
        <div class="block-height">
          <div class="align clearfix">
            <img src="../../../assets/images/index/block-height.png" class="icon">
            <div class="block-content">
              <h3 class="block-count">{{blockChain.blockHeight}}</h3>
              <p>当前区块高度</p>
            </div>
          </div>
        </div>
        <div class="node-number">
          <div class="align clearfix">
            <img src="../../../assets/images/index/node-number.png" class="icon">
            <div class="node-content">
              <h3 class="node-count">{{blockChain.nodeNumber}}</h3>
              <p>节点数</p>
            </div>
          </div>
        </div>
        <div class="transaction-number">
          <div class="align clearfix">
            <img src="../../../assets/images/index/transaction-number.png" class="icon">
            <div class="transaction-content">
              <h3 class="transaction-count">{{blockChain.transactionNumber}}</h3>
              <p>交易数量</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="common-content" style="margin-top: 50px;">
      <div class="item bg" style="height: 376px;">
        <div class="search-content">
          <div class="search clearfix">
            <input :class="{inpStyleChange: isStyleChange}" type="text" class="search-text" placeholder="交易ID查询" v-model="txId">
            <div :class="{inpStyleChange: isStyleChange}"  class="search-btn" @click="search"></div>
          </div>
          <p v-if="isStyleChange" style="text-align: center;color: #cc4455;margin-top: 20px;">输入内容不合法，请检查后重新输入</p>
          <table class="table" style="white-space: normal;word-break: break-all;margin-top: 50px;">
            <thead>
              <tr class="common-tr" style="background-color: #e4e4e4 !important;">
                <td class="common-td">交易时间</td>
                <td class="common-td" style="width: 34%;">交易ID</td>
                <td class="common-td">用户主体</td>
                <td class="common-td" style="width: 34%;">区块Hash</td>
              </tr>
            </thead>
            <tbody class="search-list">
              <tr v-for="item in searchList">
                <td>{{item.signTime}}</td>
                <td>{{item.txid}}</td>
                <td>{{item.owner}}</td>
                <td>{{item.prehash}}</td>
              </tr>
            </tbody>
          </table>
          <div class="no-data" v-if="searchList.length < 1">
            请输入交易ID进行查询
          </div>
        </div>
      </div>
      <div class="item" style="background-color: #f9f9f9;padding-bottom: 35px;padding-top: 10px;">
        <div class="title">
          <img src="../../../assets/images/info/blockChain/title-line.png" style="float: left;margin-top: 15px;">
          <p style="float: left;margin-left: 10px;">最近交易记录</p>
        </div>
        <div class="record-content">
          <div class="table clearfix">
            <table class="table" style="white-space: normal;word-break:break-all;margin-top: 0;">
              <thead>
                <tr style="background-color: #e4e4e4 !important;">
                  <td class="common-td">交易时间</td>
                  <td class="common-td"style="width: 34%;">交易ID</td>
                  <td class="common-td">用户主体</td>
                  <td class="common-td"style="width: 34%;">区块Hash</td>
                </tr>
              </thead>
              <tbody class="table-list">
                <tr v-for="item in list">
                  <td>{{item.signTime}}</td>
                  <td>{{item.txid}}</td>
                  <td>{{item.owner}}</td>
                  <td>{{item.prehash}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- 联盟成员 -->
      <div class="alliance-list clearfix">
        <div class="alliance-title">
          <img src="../../../assets/images/info/blockChain/title-line.png" style="float: left;margin-top: 15px;">
          <p style="float: left;margin-left: 10px;">联盟成员</p>
        </div>
        <div class="alliance-icon clearfix">
          <div class="alliance-img">
            <img src="../../../assets/images/info/blockChain/IP360.png" style="float: left;">
          </div>
          <div class="alliance-img clearfix">
            <img src="../../../assets/images/info/blockChain/Xcontract.png" style="margin: 0 auto;">
          </div>
          <div class="alliance-img">
            <img src="../../../assets/images/info/blockChain/notarial-office.png" style="margin: 0 auto;">
          </div>
          <div class="alliance-img">
            <img src="../../../assets/images/info/blockChain/appraisal.png" style="float: right;">
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

  export default {
    data () {
      return {
        blockChain: {
          blockHeight: '',
          nodeNumber: '',
          transactionNumber: '',
        },
        list: [],
        txId: '',
        searchList: [],
        isStyleChange: false,

      }
    },
    mounted () {
      this.$store.commit('showLoading', true)
      // 初始化banner动画
      this.initBanner()
      // 获取区块高度、节点数、交易数量
      this.dataRequest()
    },
    methods: {
      initBanner () {
        particlesJS('particles-js',
          {
            "particles": {
              "number": {
                "value": 80,
                "density": {
                  "enable": true,
                  "value_area": 800
                }
              },
              "color": {
                "value": "#b61924"
              },
              "shape": {
                "type": "circle",
                "stroke": {
                  "width": 0,
                  "color": "#000000"
                },
                "polygon": {
                  "nb_sides": 5
                },
                "image": {
                  "src": "img/github.svg",
                  "width": 100,
                  "height": 100
                }
              },
              "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                  "enable": false,
                  "speed": 1,
                  "opacity_min": 0.1,
                  "sync": false
                }
              },
              "size": {
                "value": 5,
                "random": true,
                "anim": {
                  "enable": false,
                  "speed": 40,
                  "size_min": 0.1,
                  "sync": false
                }
              },
              "line_linked": {
                "enable": true,
                "distance": 150,
                "color": "#b61924",
                "opacity": 0.4,
                "width": 1
              },
              "move": {
                "enable": true,
                "speed": 6,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "attract": {
                  "enable": false,
                  "rotateX": 600,
                  "rotateY": 1200
                }
              }
            },
            "interactivity": {
              "detect_on": "canvas",
              "events": {
                "onhover": {
                  "enable": true,
                  "mode": "repulse"
                },
                "onclick": {
                  "enable": true,
                  "mode": "push"
                },
                "resize": true
              },
              "modes": {
                "grab": {
                  "distance": 400,
                  "line_linked": {
                    "opacity": 1
                  }
                },
                "bubble": {
                  "distance": 400,
                  "size": 40,
                  "duration": 2,
                  "opacity": 8,
                  "speed": 3
                },
                "repulse": {
                  "distance": 200
                },
                "push": {
                  "particles_nb": 4
                },
                "remove": {
                  "particles_nb": 2
                }
              }
            },
            "retina_detect": true,
            "config_demo": {
              "hide_card": false,
              "background_color": "#b61924",
              "background_image": "",
              "background_position": "50% 50%",
              "background_repeat": "no-repeat",
              "background_size": "cover"
            }
          }
        )
      },
      dataRequest () {
        this.$axios.get('/webapi/extractEvidence/v2/getBlockHeightAndTxCount', {
          params: {a: 1,}
        })
        .then( res => {
          // console.log(res)
          if (res.data.code == 200) {
            this.blockChain.blockHeight = res.data.datas.blockHeight
            this.blockChain.nodeNumber = res.data.datas.peerCount
            this.blockChain.transactionNumber = res.data.datas.txCount
          }
        } )
        this.$axios.get('/webapi/extractEvidence/v2/getTxIdList', {
          params: {
            txId: "",
          }
        })
        .then( res => {
          // console.log(res)
          if (res.data.code == 200) {
            this.list = res.data.datas
            this.$store.commit('showLoading', false)
          }
        } )
      },
      search () {
        var reg = /^[0-9a-zA-Z]+$/
        var txId = $.trim(this.txId)
        // console.log(txId.length < 64)
        // console.log(txId.length)
        console.log(txId)
        console.log(txId.length)
        if (txId && txId.length < 65) {
          if(!reg.test(txId)){
            this.isStyleChange = true
          } else {
            this.isStyleChange = false
            this.$axios.get('/webapi/extractEvidence/v2/getTxIdList', {
              params: {
                txId: txId,
              }
            })
            .then( res => {
              console.log(res)
              if (res.data.code == 200) {
                this.searchList = res.data.datas
              }
            } )
          }
        } else {
          this.isStyleChange = true
        }
      },
    }
  }
</script>

<style scoped>
  /* placeholder兼容 */
  input::-webkit-input-placeholder {
    color: #c2c2c2;
  }
  input:-moz-placeholder {
    color: #c2c2c2;
  }
  input::-moz-placeholder {
    color: #c2c2c2;
  }
  input:-ms-input-placeholder {
    color: #c2c2c2;
  }

  .header {
    width: 100%;
    height: 469px;
    position: relative;
    background: #27282b; /* 一些不支持背景渐变的浏览器 */
  }
  .logo {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-bottom: solid 1px rgba(255,255,255,.25);
  }
  .logo-title {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
    font-size: 28px;
    line-height: 60px;
    color: #fff;
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .search-list {
    background-color: #fff;
  }
  .header-title {
    min-width: 621px;
    position: absolute;
    left: 50%;
    top: 121px;
    transform: translate(-50%, 0);
    color: #fff;
    text-align: center;
  }
  .header-title > h3 {
    font-size: 36px;
    line-height: 36px;
    font-weight: bold;
  }
  .header-title > p {
    font-size: 16px;
    line-height: 16px;
    margin-top: 40px;
    font-weight: normal;
  }
  /* 版心 */
  .common-content {
    width: 100%;
    margin: 0 auto;
    /*padding-top: 39px;*/
  }

  .item {

  }

  .detail-number {
    position: absolute;
    bottom: 60px;
    left: 50%;
    width: 1200px;
    transform: translate(-50%, 0);
  }
  .block-height,
  .node-number,
  .transaction-number{
    width: 370px;
    height: 110px;
    float: left;
    color: #fff;
    background-color: rgba(255, 255, 255, .15);
    text-align: center;
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .block-height:hover,
  .node-number:hover,
  .transaction-number:hover {
    background-color: rgba(255, 255, 255, .45);
  }

  .node-number {
    margin-left: 45px;
    margin-right: 45px;
  }
  .block-height {

  }
  .block-content,
  .node-content,
  .transaction-content {
    float: left;
    margin-left: 31px;
  }

  .block-content > h3,
  .node-content > h3,
  .transaction-content > h3 {
    font-size: 32px;
    line-height: 32px;
  }

  .block-content > p,
  .node-content > p,
  .transaction-content > p {
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
  }
  .align {
    /*position: absolute;*/
    /*left: 50%;*/
    /*top: 50%;*/
    /*transform: translate(-50%, -50%);*/
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
  }
  .icon {
    float: left;
  }
  /*block-count*/
  .transaction-number {

  }
  .title {
    height: 53px;
    line-height: 53px;
    width: 1200px;
    font-size: 18px;
    color: #4a4a4a;
    margin: 0 auto;
  }
  .search-content {
    width: 1200px;
    /*padding: 30px;*/
    margin: 0 auto;
  }
  .line {
    position: absolute;
    left: 0;
    top: 0;
  }
  .bg {
    position: relative;
    /*background-image: url("../../../assets/images/info/blockChain/line.png");*/
    /*background-repeat: no-repeat;*/
    /*background-position: center -60px;*/
    /*background-size: cover;*/
  }
  .search {
    width: 497px;
    height: 49px;
    background-color: #fff;
    /*margin: 50px auto 0 auto;*/
    margin: 0 auto;
  }
  .search-text {
    width: 449px;
    height: 49px;
    background-color: #fff;
    border: solid 1px #c5c5c5;
    float: left;
    font-size: 16px;
    padding-left: 10px;
    /*margin: 0 auto;*/
  }
  input:focus {
    outline: none;
  }
  .search-btn {
    width: 48px;
    height: 49px;
    background-color: #fff;
    border: solid 1px #c5c5c5;
    border-left: none !important;
    float: left;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    background-image: url("../../../assets/images/info/blockChain/search.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  .table {
    width: 100%;
    text-align: center;
    border-spacing: 0;
    border-collapse: collapse;
    /*margin-top: 20px;*/
    position: relative;
  }
  .table tr td{
    border: solid 1px #d2d2d2;
    color: #888888;
    font-size: 16px;
    line-height: 30px;
  }

  .table > tr:nth-child(odd),
  .table thead > tr:nth-child(odd),
  .table tbody > tr:nth-child(odd) {
    background-color: #fff !important;
  }

  .table > tr:hover,
  .table thead > tr:hover,
  .table tbody > tr:hover {
    background-color: #f1f1f1 !important;
  }

  .table > thead {
    background-color: #0e285a;
  }
  .table > thead td {
    color: #fff;
  }
  .table tr {
    height: 42px;
    line-height: 42px;
  }

  .record-content {
    width: 1200px;
    /*height: 665px;*/
    overflow: hidden;
    background-color: #f9f9f9;
    /*padding: 30px;*/
    margin: 0 auto;
  }
  .table-list {
    /*position: absolute;*/
    /*left: 0;*/
    /*top: 0px;*/
    z-index: 1;
    /* border: 1px solid #d2d2d2; */
  }
  .footer {
    width: 100%;
    height: 112px;
    background-color: #eeeeee;
    font-size: 12px;
    text-align: center;
    line-height: 25px;
    /*margin-top: 32px;*/
    padding-top: 34px;
    padding-bottom: 34px;
    color: #fff;
  }

  /* 无数据时 */
  .no-data {
    width: 1200px;
    height: 74px;
    background-color: #fff;
    border: solid 1px #d4d4d4;
    border-top: none;
    font-size: 16px;
    line-height: 16px;
    color: #868686;
    text-align: center;
    padding-top: 29px;
  }

  /* banner */
  #particles-js {
    height: 469px;
  }


  /* alliance */
  .alliance-list {
    width: 1200px;
    text-align: center;
    position: relative;
    margin: 0 auto;
    background-color: #fff;
    margin-bottom: 20px;
  }

  .alliance-title {
    height: 53px;
    line-height: 53px;
    width: 1200px;
    font-size: 18px;
    color: #4a4a4a;
    margin: 0 auto;
    border-bottom: solid 1px #cdcdcd;
    margin-bottom: 20px;
  }

  .alliance-img{
    width: 25%;
    float: left;
  }
  .alliance-img > img {
    display: inline-block;
  }
  /* common table  */

  .common-tr {
    background-color: #e4e4e4 !important;
  }
  .common-td {
    width: 16%;
    color: #606063 !important;
  }

  /* inp 提示 */
  .inpStyleChange {
    border: solid 1px #e2344a;
  }
</style>
