<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>自动切换页码</title>
	<style type="text/css">
		body {
			background-color: #333;
		}
		.table{
			margin: 200px auto;
			background-color: #fff;
			text-align: center;
		}
		.table tr td {
			padding: 10px;
			border: solid 1px #ccc;
		}
		input, button, select, textarea {
			outline: none;
			-webkit-appearance: none;
			border-radius: 0;
			border: none;
			cursor: pointer;
		}
		input {
			background-color: #ccc;
			border: solid 1px #ccc;
		}
		.active {
			background-color: blue;
			color: #fff;
		}
	</style>
	<script type="text/javascript" src="../../../框架/Vue/vue.js"></script>
	<script type="text/javascript" src="../../../框架/Vue/axios.js"></script>
</head>
<body>
	<div id="app">
		<table class="table" cellspacing="0" cellpadding="0">
			<tr>
				<td> 商品ID </td>
				<td> 商品名称 </td>
				<td> 购买方式 </td>
				<td> 购买时间 </td>
				<td> 付款状态 </td>
				<td> 备注 </td>
				<td> 操作 </td>
			</tr>
			<tr v-for=" item in newList ">
				<td v-text="item.id">  </td>
				<td v-text="item.productName">  </td>
				<td v-text="item.paymentType">  </td>
				<td v-text="item.createTime">  </td>
				<td v-if="item.paymentStatus"> 
					<span v-if="item.paymentStatus == 1">
						已付款
					</span>
					<span v-if="item.paymentStatus == 2">
						未付款
					</span>
				</td>
				<td v-text="item.remarks">  </td>
				<td>
					<input type="button" value="点击删除">
				</td>
			</tr>
			<tr>
				<td colspan="7">
					<input type="button" value="首页" @click="lastPage()">
					<input type="button" value="上一页">
					<input type="button" :value="newItem" v-for="newItem in totalPage" v-on:click="changePage(newItem)" style="margin-left:5px;margin-right:5px;" :class="{active:newItem.isCheck}" >
					<input type="button" value="下一页">
					<input type="button" value="尾页" @click="firstPage()">
					<span> 共 {{totalPage}} 页 </span>
					<span> 当前第 </span>
					<span> {{currentPage}} </span>
					<span> 页 </span>
					<span> 共 {{totalNum}} 条 </span>
				</td>
			</tr>
		</table>
	</div>

<script type="text/javascript">
var vm = new Vue( {
	el: '#app',
	data: {
		list: [],
		page: 5,
		totalPage: 0,
		currentPage: 0,
		totalNum: 0,
		newList: [],
	},
	mounted: function () {
		this.getData();
	},
	methods: {
		getData () {
			var _this = this;
			axios.get('./data.json')
			.then( ( res ) => {
				_this.list = res.data;
				for ( var i = 0; i < _this.page; i++ ) {
					_this.list.data[i].isCheck = false;
					_this.newList.push( _this.list.data[i] );
				}
				_this.getPage( _this.list.data.length );
			} )
		},
		nextPage () {
			this.currentPage++;
		},
		firstPage () {
			this.currentPage = this.totalPage;
		},
		lastPage () {
			this.currentPage = 1;
		},
		getPage ( totalPage ) {
			this.totalPage = totalPage / this.page;
			this.currentPage++;
			this.totalNum = totalPage;
		},
		changePage ( item ) {
			console.log(item);
			item.isCheck = true;
		}
	}
	// 分页是使用 定位，先将所有的列表循环出来，然后接着用 left 来切换 每个页码的位置。 
} )

</script>
</body>
</html>