<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>自动切换页码</title>
	<style type="text/css">
		body {
			background-color: #333;
		}
		.table{
			margin: 200px auto;
			background-color: #fff;
			text-align: center;
		}
		.table tr td {
			padding: 10px;
			border: solid 1px #ccc;
		}
		input, button, select, textarea {
			outline: none;
			-webkit-appearance: none;
			border-radius: 0;
			border: none;
			cursor: pointer;
		}
		input {
			background-color: #fff;
			border: solid 1px #ccc;
		}
		.active {
			border: solid 1px #ccc !important;
		}
		._input {
			margin-left:5px !important;
			margin-right:5px !important;
			background-color: #fff !important;
			border: none;
		}
	</style>
	<script src="../../---------框架---------/vue.js" charset="utf-8"></script>
	<script src="../../---------框架---------/axios.js" charset="utf-8"></script>
</head>
<body>
	<div id="app">
		<table class="table" cellspacing="0" cellpadding="0">
			<tr>
				<td> 商品ID </td>
				<td> 商品名称 </td>
				<td> 购买方式 </td>
				<td> 购买时间 </td>
				<td> 付款状态 </td>
				<td> 备注 </td>
				<td> 操作 </td>
			</tr>
			<tr v-for=" item in newList ">
				<td v-text="item.id">  </td>
				<td v-text="item.productName">  </td>
				<td v-text="item.paymentType">  </td>
				<td v-text="item.createTime">  </td>
				<td v-if="item.paymentStatus">
					<span v-if="item.paymentStatus == 1">
						已付款
					</span>
					<span v-if="item.paymentStatus == 2">
						未付款
					</span>
				</td>
				<td v-text="item.remarks">  </td>
				<td>
					<input type="button" value="点击删除" @click="deleteItem(item)">
				</td>
			</tr>
			<tr>
				<td colspan="7">

					<input type="button" value="上一页" @click="changePage(true)" v-if="currentPage != 1">

					<input type="button" :value="index+1" v-for="(item, index) in totalPage" @click="page_(index+1)" :class="{active: currentPage == index+1}" v-if="index < showPage" class="_input">

					<span>...</span>

					<input type="button" :value="totalPage" class="_input" @click="page_(totalPage)" :class="{active: currentPage == totalPage}">

					<input type="button" value="下一页" @click="changePage(false)" v-if="currentPage < totalPage">


					<span> 共 {{totalPage}} 页 </span>
					<span> 当前第 </span>
					<span> {{currentPage}} </span>
					<span> 页 </span>
				</td>
			</tr>
		</table>
	</div>

<script type="text/javascript">
var vm = new Vue( {
	el: '#app',
	data: {
		list: [
				{ "productName": "椅子", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "1" },
				{ "productName": "桌子", "paymentType": "微信", "createTime": "2017-07-23 10:04:24", "paymentStatus": "2", "remarks": "备注啊123", "id": "2" },
				{ "productName": "钱包", "paymentType": "银联卡", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时123", "id": "3" },
				{ "productName": "电脑", "paymentType": "微信", "createTime": "2017-07-23 10:04:24", "paymentStatus": "2", "remarks": "嘻嘻啊啊", "id": "4" },
				{ "productName": "镜子", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "要记着我的数据", "id": "5" },
				{ "productName": "汽车", "paymentType": "银联卡", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "啦啦啦", "id": "6" },
				{ "productName": "床", "paymentType": "现金", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "就像那些", "id": "7" },
				{ "productName": "瘦弱", "paymentType": "货到付款", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "不眠的晚上", "id": "8" },
				{ "productName": "肩膀", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "嚼着口香糖", "id": "9" },
				{ "productName": "迷途", "paymentType": "现金", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "满含着理想", "id": "10" },
				{ "productName": "方向", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "我们都在忍受", "id": "11" },
				{ "productName": "阳光", "paymentType": "微信", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "着漫长", "id": "12" },
				{ "productName": "院子", "paymentType": "银联卡", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "是不是高楼遮住", "id": "13" },
				{ "productName": "衣裳", "paymentType": "货到付款", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "了你的希望", "id": "14" },
				{ "productName": "四季", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "哎嘿呦", "id": "15" },
				{ "productName": "风中", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "16" },
				{ "productName": "散着", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "17" },
				{ "productName": "头发", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "18" },
				{ "productName": "南方", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "19" },
				{ "productName": "姑娘", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "20" },
				{ "productName": "往事", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "21" },
				{ "productName": "回忆", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "22" },
				{ "productName": "时间", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "23" },
				{ "productName": "重来", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "24" },
				{ "productName": "停下来", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "25" },
				{ "productName": "机会", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "26" },
				{ "productName": "得失", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "27" },
				{ "productName": "对自己", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "28" },
				{ "productName": "交代", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "29" },
				{ "productName": "对不对", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "30" },
				{ "productName": "流泪", "paymentType": "货到付款", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "31" },
				{ "productName": "别无奈", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "32" },
				{ "productName": "倒下", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "33" },
				{ "productName": "站起来", "paymentType": "货到付款", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "34" },
				{ "productName": "过去", "paymentType": "银联", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "35" },
				{ "productName": "未来", "paymentType": "微信", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "36" },
				{ "productName": "那么就这样", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "37" },
				{ "productName": "淘宝", "paymentType": "货到付款", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "38" },
				{ "productName": "新浪微博", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "39" },
				{ "productName": "清场", "paymentType": "微信", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "40" },
				{ "productName": "战场", "paymentType": "货到付款", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "41" },
				{ "productName": "成为对手", "paymentType": "欠费", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "42" },
				{ "productName": "彼此", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "43" },
				{ "productName": "余量", "paymentType": "货到付款", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "44" },
				{ "productName": "多强", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "45" },
				{ "productName": "实属无奈", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "46" },
				{ "productName": "Number", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "47" },
				{ "productName": "只对自己", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "48" },
				{ "productName": "哈哈哈哈", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "49" },
				{ "productName": "姑娘", "paymentType": "支付宝", "createTime": "2017-07-23 10:04:24", "paymentStatus": "1", "remarks": "暂时没有备注", "id": "50" },
		],
		// 每页显示多少条
		page: 5,
		// 一共多少页
		totalPage: 10,
		// 显示多少页
		showPage: 5,
		// 当前页
		currentPage: 1,
		// 总条数
		totalNum: 50,
		newList: [],
	},
	mounted: function () {
		this.gotoPage()
	},
	methods: {
		gotoPage () {
			this.newList = []
			this.list.forEach( (item, index) => {
				if ( index < (this.page * this.currentPage) && index >= (this.page * (this.currentPage-1))) {
					this.newList.push(item)
				}
			} )
		},
		page_ (item) {
			this.currentPage = item
			this.gotoPage()
		},
		// 删除数据
		deleteItem ( item ) {
			alert('此功能待完成...')
		},
		// 切换页码 true为上一页，false为下一页
		changePage ( is ) {
			if (is) {
				if ( this.currentPage > 1 ) {
					this.currentPage--
				}
			} else {
				if ( this.currentPage < this.totalPage ) {
					this.currentPage++
				}
			}
			this.gotoPage()
		},
		// 跳转到首页
		firstPage () {
			this.currentPage = this.totalPage
			this.gotoPage()
		},
		// 跳转到尾页
		lastPage () {
			this.currentPage = 1
			this.gotoPage()
		}
	}
	// 分页是使用 定位，先将所有的列表循环出来，然后接着用 left 来切换 每个页码的位置。
} )

</script>
</body>
</html>
