<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>title</title>
</head>
<body>


  <div id="app">
    ng-repeg=" item in list "
    item.text
    <input type="text" v-model="message" v-if="isHide">
    <input type="button" value="删除按钮" @click="deleteInp">
  </div>

<script type="text/javascript" src="./vue.js">

</script>

<script type="text/javascript">
  var obj = {}
  //
  //
  // 
  var vm = new Vue({
    el: '#app',
    data: {
      message: '',
      isHide: true,
      list: [],
    },

    methods: {
      deleteInp () {
        this.isHide = !this.isHide
      }
    }
  })

</script>
</body>
</html>
